<table border="1">
    <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name</th>
            <th> provider Specialty</th>
        </tr>
    </thead>
    <tbody>
        <% if (results.length>0){ %>
            <% results.forEach(provider =>{%>
                <tr>
                    <td> <%= provider.first_name %></td>
                    <td> <%= provider.last_name %></td>
                    <td> <%= provider.provider_specialty %></td>
                </tr> 
            <%}); %>
        <% } else {%>
            <tr>
                <td>colspan="3">No provider found with this Specialty</td>
            </tr>
        <% } %>
    </tbody>
</table>